page-buildview {
  ion-content {
    background-color: color($colors, dark, base) !important;
  }
  ion-item {
    background-color: color($colors, cardbackground, base) !important;
    color: white !important;
    font-size: 1em !important;
  }

  ion-label {
    margin: 5px 4px 5px 0 !important;
  }

  ion-checkbox {

    margin: 4px 8px 4px 1px !important;

    .checkbox-icon {
      border-radius: 0px !important;
      height: 15px !important;
      width: 15px !important;
    }

  }

}
