weapondetails {

  ion-content {
    background-color: color($colors, dark, base) !important;
  }

  .stats {
    text-align: center;
    ion-card-header {
      font-size: 0.8em !important;
    }
  }

  .rare1 {
    color: #fff;
  }
  .rare2 {
    color: #fff;
  }
  .rare3 {
    color: #B0CB4D;
  }
  .rare4 {
    color: #50A046;
  }
  .rare5 {
    color: #79BFC9;
  }
  .rare6 {
    color: #605DC8;
  }
  .rare7 {
    color: #9466EC;
  }
  .rare8 {
    color: #BA755A;
  }


  .nopadding {

    ion-col {
      padding: 0;
    }

    ion-card {
      margin: 0;
      width: 100%;
    }
  }

  .nopadding-mat {
    ion-col {
      padding: 5px 0 0 0 !important;
    }

    ion-card {
      margin: 0;
      width: 100%;
    }
  }

  ion-card {
    background-color: color($colors, cardbackground, base) !important;
    color: #ADACAC !important;

    ion-card-header {
      padding: 8px !important;
    }

    ion-card-content {
      padding: 0 8px 8px !important;
    }

    p {
      color: #ADACAC !important;
    }
  }
  ion-card-header {
    color: white !important;
  }
}

