skills {
  ion-badge {
    border-radius: 0px !important;
    height: 15px;
    width: 15px;
  }
  ion-item {
    background-color: color($colors, cardbackground, base) !important;
    color: white !important;
  }
}
