  <ion-grid>
    <ion-row>
    <ion-col col-6>
      <ion-card (click)="selectWeapon()">
        <ion-card-content>
          {{loadout.weapon.value}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('charms')">
          {{loadout.charm.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('heads')">
          {{loadout.head.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('chests')">
          {{loadout.chest.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('arms')">
          {{loadout.arms.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('waists')">
          {{loadout.waist.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col col-6>
      <ion-card>
        <ion-card-content (click)="selectArmor('legs')">
          {{loadout.legs.name}}
        </ion-card-content>
      </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
